h1{
    text-align: center;
}
.d-center{
    display: flex;
    width: 100%;
    padding: 20px 0;
}
.for-c{
    display: flex;
    width: 300px;
    margin: auto;
}
.for-c input{
    margin: 0 10px;
    width: 100%;
}
.d-center button{
    margin: auto;
    padding: 10px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(39, 185, 39);
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease;
}
.d-center button:hover{
    background-color: green;
}
.d-center a{
    padding: 10px 30px;
    background-color: red;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
}
.d-center a:hover{
    background-color: white;
    color: red;
    border: 1px solid red;
}